#firstPicture {
  margin-left: -124px;
  width: 1324px;
  height: 678px;
  margin-bottom: 50px;
}

.text-center {
   position: absolute;
   top: 200px;
   left: 300px;
   width: 50%;
   color: white;
   font-size: 50px;
   font-weight: 600;
}

#hire {
  position: absolute;
  top: 400px;
  left: 300px;
}

#website {
  position: absolute;
  left: 500px;
  top: 400px;
}

.projects {
  text-align: center;
  margin-bottom: 100px;
}

.pic {
  width: 500px;
  margin-right: 100px;
  float: left;
}

.name {
  padding-top: 50px;
}

.info {
  margin-bottom: 250px;
}

#pic1 {
  margin-bottom: 250px;
}

#pic2 {
  margin-bottom: 250px;
}

#paragraph1 {
  margin-bottom: 370px;
}

#paragraph2 {
  margin-bottom: 370px;
}
